h2 { color: var(--primary); margin-bottom: 20px;text-align: center; }

.btn-add {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 45px;
}

.btn-audit {
  color: grey;
  border: none;
  float: inline-end;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 45px;
}

table {
  margin-top: 41px;
  width: 100%;
  border-collapse: collapse;
}

th { text-align: left; padding: 12px; border-bottom: 2px solid var(--bg); color: var(--secondary); }

td { max-width: 100px;min-width: 100px; padding: 12px; border-bottom: 1px solid var(--bg); }

.badge {
  background: #dcfce7;
  color: #166534;
  padding: 4px 8px;
  border-radius: 99px;
  font-size: 12px;
}
.btn-details {
  background-color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: larger;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-details:hover {
  color: #007bff;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.status-select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.filter-group{
  text-align: center;
}

.filter-group label {
  font-weight: 600;
  margin-right: 8px;
  color: var(--secondary);
}